@import 'base';
/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/
/* HTML5 display-role reset for older browsers */

body {
	font-size: 62.5%;
}

#container{
	width: 960px;
	margin: 0px auto;
}

body .title{
	margin-top: 50px;
	font-size: 3em;
	width: 200px;
	margin: 0px auto;
}
